body{background-image:url("EMII.jpg");
 background-repeat: no-repeat;
 width:800px;
 height:300px;
}

#Menu{width:100%;
height:50px;
border-radus:0px 0px 4px 04px;
margin-left:200px;
box-shadow:0px 0px 2px 2px rgba(255,255,255,0.2);
		  }
#liste{display:table;
padding:0;
margin-right:auto;
margin-left:auto;
margin-top:0;}
#liste li{display:table-cell;
width:180px;
font-family:"Trebuchet MS";}
#liste li:hover{width:190px;
transition:1s;}
#liste a{color:black;
	text-decoration:none;
	display:block;
	line-height:-800px;
	text-align:center;
	text-shadow:0px 1px 0 rgba(255,255,255,0.2);
	transition:1s;
	position:relative;}
#liste a:hover{color:white;
background:rgba(0,0,0,0.1);
border-bottom:4px solid rgba(0,0,0,0.8);
			text-shadow:0px 1px 0 rgba(0,0,0,0.2);
			transition:1s;}
#liste a::before{content:'';
position:absolute;
border-right:3px solid transparent;
border-left:3px solid transparent;
border-top:5px solid rgba(255,255,255,0.2);
left:50%;
bottom:5px;}
.blanche{margin-top:300px;
	margin-left:30px;
	background-image:url("nada.jpg");
	background-repeat: no-repeat;
	width:233px;
	height:216px;}
.blanche2{margin-top:-300px;
	margin-left:450px;
	background-image:url("asmae.jpg");
	background-repeat: no-repeat;
	width:216px;
	height:230px;}
.blanche3{margin-top:-225px;
	margin-left:900px;
	background-image:url("etudiant.jpg");
	background-repeat: no-repeat;
	width:230px;
	height:216px;}
h4{margin-top:20px;
	margin-left:900px;}
	

	
	
	
	

@keyframes masuperanimation { /* Tous les autres navigateurs */
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(150px) ;
    }
}

@keyframes masuperanimation1 { /* Tous les autres navigateurs */
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(30deg) ;
    }
}
.blanche:hover
{
    -webkit-animation: masuperanimation 2s; /* Safari, Opera, Chrome */
    animation: masuperanimation 2s; /* Tous les autres navigateurs */
}
.blanche2:hover
{
    -webkit-animation: masuperanimation 2s; /* Safari, Opera, Chrome */
    animation: masuperanimation 2s; /* Tous les autres navigateurs */
}
.blanche3:hover
{
    -webkit-animation: masuperanimation 2s; /* Safari, Opera, Chrome */
    animation: masuperanimation 2s; /* Tous les autres navigateurs */
}

.barre {
   width:1300px;
   
}
.couleur1 {
   width:100%;
   height:400px;
   background:black;
}
h2{color:white;
}
p{color:white;
font-style: italic;}

.phone{margin-top:-220px;
	margin-left:450px;
	background-image:url("call.png");
	background-repeat: no-repeat;
	width:216px;
	height:230px;}
.msg{margin-top:-220px;
	margin-left:750px;
	background-image:url("message.png");
	background-repeat: no-repeat;
	width:216px;
	height:230px;}
.fleche{
	margin-top:-220px;
	margin-left:1050px;
	background-image:url("fleche.png");
	background-repeat: no-repeat;
	width:216px;
	height:230px;
}
.phone:hover
{
    
    animation: masuperanimation1 2s; /* Tous les autres navigateurs */
}
.fleche:hover
{
    
    animation: masuperanimation1 2s; /* Tous les autres navigateurs */
}
.msg:hover
{
    
    animation: masuperanimation1 2s; /* Tous les autres navigateurs */
}

.couleur2 {
   width:100%;
   height:80px;
   background:#414141;
}
.fb{margin-top:-100px;
	margin-left:1050px;
	background-image:url("fb.jpg");
	background-repeat: no-repeat;
	width:216px;
	height:230px;}
.twitter{margin-top:-240px;
	margin-left:750px;
	background-image:url("twitter.png");
	background-repeat: no-repeat;
	width:216px;
	height:230px;}
.google{margin-top:-220px;
	margin-left:905px;
	background-image:url("google.png");
	background-repeat: no-repeat;
	width:216px;
	height:230px;}
.carousel-inner img{width:100%;height:0vh;}
	